<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      }
      h1 {
        color: #88B04B;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
      }
      p {
        color: #404F5E;
        font-size: 20px;
        margin: 0;
      }
      i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
      .button-container {
        margin-top: 20px;
      }
      .button {
        background-color: #88B04B;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        margin: 0 10px;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }
      .button:hover {
        background-color: #748F38;
      }
    </style>
  </head>
  <body>
    <div class="card">
   
        <div style="border-radius: 200px; height: 200px; width: 200px; background: #F8FAF5; margin: 0 auto;">
          <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>Your Order Placed successfully<br/>Thank you!</p>
        <div class="button-container">
          <a href="/" class="button">Continue Shopping</a>
          <a href="/account" class="button">My Orders</a>
          <!-- Add the download button with a link to the invoice -->
       <!-- Add an onclick event to the Download Invoice link -->
<a href="/generate-invoice/<%= order.orderId%>" class="button" onclick="logOrderId('<%= order.orderId %>')">Download Invoice</a>

<!-- Add the following script to your HTML -->
<script>
    // JavaScript function to log the order ID
    function logOrderId(orderId) {
        alert('Clicked on Download Invoice. Order ID:', orderId);
        // Optionally, you can redirect to the download link after logging
        // window.location.href = '/generate-invoice/' + orderId;
    }
</script>



        </div>
   
    </div>
    
    <script>
      
    function downloadInvoice(orderId) {
      alert("orderId"+orderId)
        // Construct the URL with the order ID
        var url = '/generate-invoice/' + orderId;

        // Redirect to the generated URL
        window.location.href = url;
    }

    </script>
</body>

</html>

