<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-xxxxxx" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-xxxxxx" crossorigin="anonymous">


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<aside class="col-md-4 col-lg-3">
    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " id="tab-Profile-link" data-toggle="tab" href="#tab-Profile" role="tab" aria-controls="tab-Profile" aria-selected="true">Profile</a>
        </li>




        <li class="nav-item">
            <a class="nav-link " id="tab-Wallet-link" data-toggle="tab" href="#tab-Wallet" role="tab" aria-controls="tab-Wallet" aria-selected="true">Wallet</a>
        </li>








        <li class="nav-item">
            <a class="nav-link " id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-EditAccount-link" data-toggle="tab" href="#tab-EditAccount" role="tab" aria-controls="tab-EditAccount" aria-selected="true">
                🖊 Edit Account
            </a>
        </li>
        
        
        
        <li class="nav-item">
            <a class="nav-link" id="tab-AddAddress-link" data-toggle="tab" href="#tab-AddAddress" role="tab" aria-controls="tab-AddAddress" aria-selected="true">
                &#43; Add Address
            </a>
        </li>
        
       
       
        <li class="nav-item">
            <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">
                &#128065; Addresses
            </a>
        </li>
        
        

        <li class="nav-item">
            <a class="nav-link" id="tab-Security-link" data-toggle="tab" href="#tab-Security" role="tab" aria-controls="tab-Security" aria-selected="false">
                &#128273; Security
            </a>
            
            
        </li>
        
        

        <li class="nav-item">
            <a class="nav-link" href="#" id="logout-link">Sign Out</a>
        </li>
    </ul>
</aside>


<script>
    // Add an event listener to the Sign Out link
    $(document).ready(function () {
        $('#logout-link').on('click', function (e) {
            e.preventDefault(); // Prevent the default link behavior

            // Show SweetAlert confirmation dialog
            Swal.fire({
                title: 'Are you sure?',
                text: 'You will be logged out!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, log me out!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user confirms, redirect to the logout page
                    window.location.href = '/logout';
                }
            });
        });
    });
</script>