 <!-- Page Body Start -->
 <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    <div class="sidebar-wrapper">
        <div id="sidebarEffect"></div>
        <div>
            <div class="logo-wrapper logo-wrapper-center">
                <a href="//adminpanel" data-bs-original-title="" title="">
                    <img class="img-fluid for-white" src="/images/Screenshot_2024-01-19_at_5.19.12_PM-removebg-preview (1).png" alt="logo">
                </a>
                <div class="back-btn">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="toggle-sidebar">
                    <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
                </div>
            </div>
            <div class="logo-icon-wrapper">
                <a href="/adminpanel">
                    <img class="img-fluid main-logo main-white" src="/assetsb/images/logo/1-white.png" alt="logo">
                    <img class="img-fluid main-logo main-dark" src="/assetsb/images/logo/logo-white.png"
                        alt="logo">
                </a>
            </div>
            <nav class="sidebar-main">
                <div class="left-arrow" id="left-arrow">
                    <i data-feather="arrow-left"></i>
                </div>

                <div id="sidebar-menu">
                    <ul class="sidebar-links" id="simple-bar">
                        <li class="back-btn"></li>

                        <li class="sidebar-list">
                            <a class="sidebar-link sidebar-title link-nav" href="/adminpanel">
                                <i class="ri-home-line"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-list">
                            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-store-3-line"></i>
                                <span>Product</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="/Products">Products</a>
                                </li>

                                <li>
                                    <a href="/addproducts">Add New Products</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-list-check-2"></i>
                                <span>Category</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="/category">Category List</a>
                                </li>

                                <li>
                                    <a href="/addcategory">Add New Category</a>
                                </li>
                            </ul>
                        </li>

                        

                        <li class="sidebar-list">
                            <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-user-3-line"></i>
                                <span>Users</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="/alluser">All users</a>
                                </li>
                               
                            </ul>
                        </li>

                        
                        <li class="sidebar-list">
                            <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-archive-line"></i>
                                <span>Orders</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="/orderlist">Order List</a>
                                </li>
                               
                            </ul>
                        </li>

                     

                        <li class="sidebar-list">
                            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-price-tag-3-line"></i>
                                <span>Coupons</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="/coupons">Coupon List</a>
                                </li>

                                <li>
                                    <a href="/add-coupons">Add Coupon</a>
                                </li>
                            </ul>
                        </li>



                        <li class="sidebar-list">
                            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-price-tag-3-line"></i>
                                <span>Sales Reports</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="/dailyreports">Daily Reports</a>
                                </li>

                                <li>
                                    <a href="/monthlyreport">Monthly Reports</a>
                                </li>
                                <li>
                                    <a href="/yearlyreports">Yearly Reports</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-price-tag-3-line"></i>
                                <span>Admin Settings</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="/change-password">Change Password</a>
                                </li>

                               
                            </ul>
                        </li>
                        




                        
                    </ul>
                </div>

                <div class="right-arrow" id="right-arrow">
                    <i data-feather="arrow-right"></i>
                </div>
            </nav>
        </div>
    </div>
    <!-- Page Sidebar Ends-->